* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Purple-100: hsl(260, 100%, 95%);
  --Purple-500: hsl(256, 67%, 59%);
  --Yellow-100: hsl(31, 66%, 93%);
  --Yellow-500: hsl(39, 100%, 71%);
  --White-: hsl(0, 0%, 100%);
  --Black-: hsl(0, 0%, 7%);
}
body {
  font-family: "DM Sans", sans-serif;
  background-color: #f2f2f2;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-template-rows: repeat(5, 260px);
  height: 1000px;
  padding: 40px;
  gap: 20px;
}
@media (max-width: 767px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.container .card {
  border-radius: 10px;
}
.container .card-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: var(--Yellow-100);
  padding: 100px 40px;
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .container .card-1{
    padding: 50px 40px;
    margin-bottom: 20px;
  }
}
.container .card-1 p {
  font-weight: 500;
  line-height: 0.9;
  font-size: 40px;
  margin-bottom: 25px;
}
.container .card-1 p span {
  color: var(--Purple-500);
}
.container .card-1 img {
  max-width: 100%;
}
.container .card-2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: var(--Purple-500);
  padding: 60px 20px;
  margin-bottom: 200px;
}
@media (max-width: 767px) {
  .container .card-2{
    margin-bottom: 20px;
  }
}
.container .card-2 p:first-child {
  color: white;
  line-height: 1;
  font-weight: 500;
  font-size: 60px;
  text-align: center;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .container .card-2 p:first-child {
    font-size: 50px;
  }
}
.container .card-2 p:first-child span {
  color: var(--Yellow-500);
}
.container .card-2 .image {
  display: flex;
  justify-content: center;
}
.container .card-2 img {
  max-width: 100%;
  width: 200px;
  margin-bottom: 10px;
}
.container .card-2 p:last-child {
  color: white;
  text-align: center;
  font-size: 18px;
}
.container .card-3 {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: var(--Purple-100);
  padding: 50px 30px;
  overflow: hidden;
  margin-bottom: 200px;
}
@media (max-width: 767px) {
  .container .card-3{
    margin-bottom: 20px;
  }
}
.container .card-3 p:first-child {
  font-weight: 500;
  font-size: 38px;
  line-height: 0.9;
  margin-bottom: 100px;
}
.container .card-3 img {
  max-width: 100%;
  transform: scale(1.6) translateX(50px);
}
.container .card-3 p:last-child {
  margin-top: 84px;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .container .card-3 p:last-child  {
    margin-top: 100px;
  }
}
.container .card-4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 6;
  background-color: var(--Yellow-500);
  padding: 30px;
  margin-bottom: 470px;
  margin-top: -100px;
}
@media (max-width: 767px) {
  .container .card-4{
    margin-top: 0px;
    margin-bottom: 20px;
  }
}
.container .card-4 p {
  font-size: 40px;
  font-weight: 500;
  line-height: 0.9;
  margin-bottom: 50px;
}
.container .card-4 img {
  width: 240px;
}
.container .card-5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: white;
  margin-top: -200px;
  margin-bottom: 200px;
  padding: 30px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .container .card-5{
    margin-top: 0px;
    margin-bottom: 20px;
  }
}
.container .card-5 img {
  max-width: 100%;
  margin-bottom: 20px;
  transform: translateX(62px) scale(1.6);
}
.container .card-5 p {
  font-weight: 500;
  font-size: 30px;
  line-height: 0.9;
}
.container .card-6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: var(--Yellow-500);
  margin-top: -200px;
  margin-bottom: 200px;
  padding: 30px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .container .card-6{
    margin-top: 0px;
    margin-bottom: 20px;
  }
}
.container .card-6 p {
  font-weight: 500;
  line-height: 0.9;
  font-size: 30px;
}
.container .card-6 img {
  max-width: 100%;
  transform: translateY(25px);
}
.container .card-7 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  background-color: white;
  padding: 30px;
  margin-top: -200px;
  margin-bottom: 200px;
}
@media (max-width: 767px) {
  .container .card-7{
    margin-top: 0px;
    margin-bottom: 20px;
  }
}
.container .card-7 p span {
  font-size: 50px;
  font-weight: 500;
  display: block;
}
.container .card-7 p {
  margin-bottom: 40px;
}
.container .card-7 img {
  max-width: 100%;
}
.container .card-8 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Purple-500);
  margin-top: -200px;
  margin-bottom: 200px;
  padding: 30px;
}
@media (max-width: 767px) {
  .container .card-8{
    margin-top: 0px;
    margin-bottom: 20px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container .card-8 .image {
    margin-right: 0px;
  }
  .container .card-8 p  {
    text-align: center;
    margin-top: 10px;
  }
}
.container .card-8 p {
  color: white;
  font-weight: 500;
  font-size: 40px;
  line-height: 0.9;
}
.container .card-8 .image {
  margin-right: 20px;
}
.container .card-8 img {
  max-width: 100%;
}
.foot p {
  text-align: center;
  font-weight: 600;
  padding: 20px;
}
.foot p a {
  text-decoration: none;
  color: var(--Purple-500);
  outline: none;
  padding: 5px;
}
.foot p a:hover {
  background-color: var(--Yellow-500);
  color: white;
  border-radius: 10px;
}
